<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <h1>Link Shortener</h1>

    <form id="urlForm">
      <div class="form-group">
        <input type="url" id="urlInput" placeholder="Enter URL" required />
        <button type="button" id="fetchMetadataButton">Fetch Metadata</button>
      </div>
    </form>

    <form id="metadataForm" class="metadata-form" style="display: none">
      <div class="form-group">
        <label for="ogTitle">OG Title:</label>
        <input type="text" id="ogTitle" />
      </div>
      <div class="form-group">
        <label for="ogDescription">OG Description:</label>
        <input type="text" id="ogDescription" />
      </div>
      <div class="form-group">
        <label for="ogImage">OG Image URL:</label>
        <input type="text" id="ogImage" />
      </div>
      <button type="submit">Shorten URL</button>
    </form>

    <h2>All Shortened URLs</h2>
    <table>
      <thead>
        <tr>
          <th>Short URL</th>
          <th>Original URL</th>
          <th>Clicks</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for link in links %}
        <tr id="link-{{ link[1] }}">
          <td>
            <a href="{{ url_for('redirect_short_url', short_id=link[1]) }}"
              >{{ link[1] }}</a
            >
          </td>
          <td>{{ link[2] }}</td>
          <td>{{ link[6] }}</td>
          <td><button onclick="deleteLink('{{ link[1] }}')">Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script src="/static/index.js"></script>
  </body>
</html>
