<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-6">
      <h1 class="text-4xl font-semibold mb-4">Link Shortener</h1>

      <form id="urlForm" class="mb-6 w-full">
        <div class="flex items-center space-x-4">
          <input
            type="url"
            id="urlInput"
            class="w-full py-2 px-3 border rounded-md focus:outline-none focus:border-blue-500"
            placeholder="Enter URL"
            required
          />
          <button
            type="button"
            id="fetchMetadataButton"
            class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md focus:outline-none whitespace-nowrap"
          >
            Fetch Metadata
          </button>
        </div>
      </form>

      <form id="metadataForm" class="mb-6 hidden">
        <div class="mb-4">
          <label for="ogTitle" class="block text-sm font-medium text-gray-700"
            >OG Title:</label
          >
          <input
            type="text"
            id="ogTitle"
            class="mt-1 p-2 w-full rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:outline-none border-gray-300"
          />
        </div>
        <div class="mb-4">
          <label
            for="ogDescription"
            class="block text-sm font-medium text-gray-700"
            >OG Description:</label
          >
          <input
            type="text"
            id="ogDescription"
            class="mt-1 p-2 w-full rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:outline-none border-gray-300"
          />
        </div>
        <div class="mb-4">
          <label for="ogImage" class="block text-sm font-medium text-gray-700"
            >OG Image URL:</label
          >
          <input
            type="text"
            id="ogImage"
            class="mt-1 p-2 w-full rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:outline-none border-gray-300"
          />
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md focus:outline-none"
        >
          Shorten URL
        </button>
      </form>

      <h2 class="text-2xl font-semibold mb-4">All Shortened URLs</h2>
      <div class="overflow-x-auto">
        <table class="w-full border-collapse border border-gray-300">
          <thead>
            <tr>
              <th
                class="py-2 px-3 bg-gray-200 border-b border-gray-300 text-center"
              >
                Short URL
              </th>
              <th
                class="py-2 px-3 bg-gray-200 border-b border-gray-300 text-center"
              >
                Original URL
              </th>
              <th
                class="py-2 px-3 bg-gray-200 border-b border-gray-300 text-center"
              >
                Clicks
              </th>
              <th
                class="py-2 px-3 bg-gray-200 border-b border-gray-300 text-center"
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {% for link in links %}
            <tr id="link-{{ link[1] }}" class="border-b border-gray-300">
              <td class="py-2 px-3 text-center">
                <a
                  href="{{ url_for('redirect_short_url', short_id=link[1]) }}"
                  target="_blank"
                  class="text-blue-500 hover:underline"
                >
                  {{ link[1] }}
                </a>
              </td>
              <td class="py-2 px-3">{{ link[2] }}</td>
              <td class="py-2 px-3 text-center">{{ link[6] }}</td>
              <td class="py-2 px-3 text-center">
                <button
                  onclick="copyLink('{{ link[1] }}')"
                  class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-2 rounded-md m-1 focus:outline-none"
                >
                  Copy
                </button>
                <button
                  onclick="deleteLink('{{ link[1] }}')"
                  class="bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded-md m-1 focus:outline-none"
                >
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="/static/index.js"></script>
  </body>
</html>
