<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <h1>Link Shortener</h1>

    <div class="passcode-form-container">
      <form class="passcode-form" id="passcodeForm">
        <div class="form-group">
          <label for="passcodeInput">Enter Passcode:</label>
          <input type="password" id="passcodeInput" required />
        </div>
        <button type="button" id="submitPasscodeButton">Submit</button>
      </form>
    </div>

    <script src="/static/password.js"></script>
  </body>
</html>
