<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto p-6">
      <h1 class="text-4xl font-semibold mb-4">Link Shortener</h1>

      <div>
        <form id="passcodeForm">
          <div class="mb-4">
            <label
              for="passcodeInput"
              class="block text-sm font-medium text-gray-700"
              >Enter Passcode:</label
            >
            <input
              type="password"
              id="passcodeInput"
              class="mt-1 p-2 w-full rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:outline-none border-gray-300"
              required
            />
          </div>
          <button
            type="button"
            id="submitPasscodeButton"
            class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md focus:outline-none"
          >
            Submit
          </button>
        </form>
      </div>
    </div>

    <script src="/static/password.js"></script>
  </body>
</html>
